#root {
  margin: 0 auto;
  padding: 0rem;
}

.icons
{
  color:rgb(70, 70, 70);
  font-size: 22px;

}

.list
{
  text-decoration: none;
  list-style: none;
}

.navbar-text{
  font-size: 12px;

}

.navbar-text2{
  font-size: 13px;
  text-decoration: underline;
  color: darkgoldenrod;
}

.avatar {
  width: 50px;
  border-radius: 100%;
}

section {
  background-color: white;
  border-radius: 8px;
}

#adv {
  width: 100%;
}
